<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-padding">
      <div class="modal-header">
        <h4 style="margin: 0;">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'devise/shared/social' %>
        <h4 class="text-center" style="padding: 10px;">OR</h4>
          <%= render 'devise/registrations/signup_form' %>
        <div class="devise-links">
          <%= link_to "Log in", new_session_path(resource_name) %><br />
        </div>
      </div>
    </div>
  </div>
</div>
