// Specific CSS for your home-page
#banner{
  background-image: url(/assets/banner.jpg);
  height: 280px;
  width: auto;
  background-size: cover;
  display: flex;
  background-position: bottom;
}

#banner h5{
  margin: 0;
  line-height: 24px;
  opacity: .9;
}

.banner-message{
  display: block;
  margin-left: 130px;
  padding-top: 90px;
}

.container{
  background-color: white;
}

