// Specific CSS for your home-page
#banner{
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  height: calc(90vh - 70px);
  min-height: 345px;
  width: auto;
  background-size: cover;
  display: flex;
  background-position: bottom;
}

#typedtext {
  margin: 0;
  line-height: 24px;
  color: white;
  opacity: .9;
  height: 72px;
}

.banner-flex {
  display: flex;
  align-items: center;
}

.banner-message {
  display: block;
  justify-content: center;
  color: white;
  opacity: .7;
  text-align: center;

}

.page-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.home-form {
  width: 75%;
  min-width: 405px;
  opacity: .9;
  float: right;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
