<div class="row">
  <div class="post-card-flex col-sm-12">
    <div class="post-card">
      <div class="row">
        <div class="col-xs-2">
          <div class="post-card-votes"></div>
        </div>

        <div class="col-xs-7">
          <div class="post-card-title">A pretty long title will go here just above the video</div>
          <div class="post-card-video"></div>
        </div>

        <div class="col-xs-3">
          <div class="post-card-reputation"></div>
        </div>
      </div>
      <a class="post-card-link" href="#" ></a>
    </div>

   <div class="post-card">
    <div class="row">
      <div class="col-xs-2">
        <div class="post-card-votes"></div>
      </div>

      <div class="col-xs-7">
        <div class="post-card-title">A pretty long title will go here just above the video</div>
        <div class="post-card-video"></div>
      </div>

      <div class="col-xs-3">
        <div class="post-card-reputation"></div>
      </div>
    </div>
    <a class="post-card-link" href="#" ></a>
  </div>
</div>
