<div class="card-wrapper">
  <div class="post-card-left">
    <div class="post-card-votes">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <div class="votes-number">40</div>
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </div>

      <div class="post-card-answers"></div>

  </div>

  <div class="post-card-middle">
  </div>

  <div class="post-card-right">
  </div>
</div>




<!-- <div class="post-card-row">
  <div >
    <div class="line-card post-card">
      <div class="full-height">
        <div class="post-card-left">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <div class="votes-number text-center">
            <h4>40</h4>
          </div>
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          <div class="post-card-answers"></div>
        </div>

        <div>
          <div class="post-card-middle">
            <div class="post-card-title">A pretty long title will go here just above the video</div>
            <div class="post-card-video"></div>
          </div>
        </div>

        <div class="post-card-right col-xs-3">
          <div class="post-card-user">asdasd</div>
        </div>

      </div>
      <a class="post-card-link" ></a>
    </div>

    <div class="post-card">
      <div class="row">
        <div class="post-card-left col-xs-2">
          <div class="post-card-votes">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          </div>
          <div class="post-card-answers"></div>
        </div>

        <div class="col-xs-7">
          <div class="post-card-title">A pretty long title will go here just above the video</div>
          <div class="post-card-video"></div>
        </div>

        <div class="col-xs-3">
          <div class="post-card-reputation"></div>
        </div>
      </div>
      <a class="post-card-link" ></a>
    </div>
  </div>
</div> -->
