<div class="card-wrapper">
  <div class="post-card-left">
    <div class="post-card-votes">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      <div class="votes-number">40</div>
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </div>
    <div class="post-card-answers"></div>
  </div>

  <div class="post-card-middle">
    <div class="post-card-title">A pretty long title will go here just above the video</div>
    <div class="post-card-video"></div>
  </div>

  <div class="post-card-right">
    <div class="post-card-user">asdasd</div>
  </div>
</div>
