<div id="about-banner" style="background-image: linear-gradient(-225deg, rgba(27, 29, 29, 0.68) 0%, rgba(40, 53, 62, 0.6) 50%), url(<%= image_url 'guitar.jpg' %>);">
  <div class="banner-flex container">
    <div class="col-sm-offset-1 col-xs-12">
      <div class="banner-message">
        <h3>Be part of a community of guitarists
        <br> learning from each other</h3>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper">
  <div class="about-cards-section">
    <div class="about-header">
      <h2>About Guitwise</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <div class= "card-group" style="display: -webkit-inline-box;">
              <div class="about-card">
                <div class="about-card-icon">
                </div>
                <div class="about-card-content">
                  <p>Join the community of guitarists learning from each other</p>
                </div>
              </div>
              <div class="about-card">
                <div class="about-card-icon">
                </div>
                <div class="about-card-content">
                  <p>Post videos with questions about the music you are learning</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
          <div class="card-group" style="display: -webkit-inline-box;">
            <div class="about-card">
              <div class="about-card-icon">
              </div>
              <div class="about-card-content">
                <p>Share your knowledge with a short tutorial</p>
              </div>
            </div>
            <div class="about-card">
              <div class="about-card-icon">
              </div>
              <div class="about-card-content">
                <p>Respond with videos to give feedback or show your progress.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
