<div id="about-banner" style="background-image: linear-gradient(-225deg, rgba(27, 29, 29, 0.68) 0%, rgba(40, 53, 62, 0.6) 50%), url(<%= image_url 'guitar.jpg' %>);">
  <div class="banner-flex container">
    <div class="col-sm-offset-1 col-xs-12">
      <div class="about-banner-message">
        <h1>Welcome to GuitWise</h1>
        <h4>A community of guitarists learning together</h4>
      </div>
    </div>
  </div>
</div>
<!-- <div id="about-second-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="about-card" style= "border-right-style: solid; border-right-width: 1px; border-color: $gray;">
          <div class="about-card-header">
            <h4>Post</h4>
            <i class="fa fa-video-camera" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Post videos with questions about the music you are learning</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="about-card" style= "border-right-style: solid; border-right-width: 1px; border-color: $gray;">
          <div class="about-card-header">
            <h4>Respond</h4>
            <i class="fa fa-comments" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Respond with videos to give feedback or show your progress</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="about-card">
          <div class="about-card-header">
            <h4>Share</h4>
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
          </div>
          <div class="about-card-content">
            <p>Share your knowledge with a short tutorial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="about-page-wrapper">
  <div class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <div class="about-header">
            <h2>What is GuitWise?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-sm-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1">
          <div class="about-text-section">
            <h5>
              <strong>GuitWise has the mission to gather a community of musicians in order to learn from each other.</strong>
            </h5>
            <p>Sign up and post a short video with a question, showing exactly what you want to learn or where you are stuck in your music. <strong>Musicians from around the world will come to help you out by posting short video tutorials to share their knowledge and expertise!</strong></p>
            <p>You can also vote on questions you found pertinent, responses you thought that helped you out the best or down vote the ones that you found that were not helpful at all.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <div class="about-header">
            <h2>Team GuitWise</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-sm-3 col-sm-offset-1 col-xs-offset-1">
          <div class="team-card text-center card-success">
            <div class="card-image-top" style="background-image: url(<%= image_url 'Mark.jpg' %>);"></div>
            <h4 class="card-title">Mark Kaylor</h4>
            <h6 class="card-subtitle">CEO</h6>
          </div>
        </div>
        <div class="col-xs-10 col-sm-3">
          <div class="team-card text-center">
            <div class="card-image-top" style="background-image: url(<%= image_url 'Richy.jpg' %>);"></div>
            <h4 class="card-title">Richy Chen</h4>
            <h6 class="card-subtitle">CTO</h6>
          </div>
        </div>
        <div class="col-xs-10 col-sm-3">
          <div class="team-card text-center">
            <div class="card-image-top" style="background-image: url(<%= image_url 'Filipe.jpg' %>)"></div>
            <h4 class="card-title">Filipe Andrade</h4>
            <h6 class="card-subtitle">He tried...</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
