<div id="banner">

<div class="banner-flex container">
    <div class="col-sm-offset-1 col-xs-12">
      <div class="banner-message">
        <h5>Join the community of guitarists
        <br> learning from each other</h5>
        <a class="btn btn-transparent" data-toggle="modal" data-target="#postModal">Post Your Practice</a>
      </div>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <% @posts.reverse.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
</div>

<%= render 'posts/new' %>
