<div id="banner">

  <div class="col-xs-12">
    <div class="banner-message">
      <h5>Join the community of guitarists
      <br> learning from each other</h5>
      <%= link_to "Share Your Practice", new_post_path, class: "btn btn-transparent" %>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <% @posts.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
</div>
