<div id="banner" style="background-image: linear-gradient(-225deg, rgba(27, 29, 29, 0.68) 0%, rgba(40, 53, 62, 0.6) 50%), url(<%= image_url 'banner.jpg' %>);">

<div class="banner-flex container">
    <div class="col-sm-offset-1 col-xs-12">
      <div class="banner-message">
        <div id="typedtext"></div>
        <a class="btn btn-transparent" data-toggle="modal" data-target="#postModal">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <% @posts.reverse.each do |post|  %>
      <%= render 'shared/post_card', post: post %>
  <% end %>
</div>

<%= render 'posts/new' %>
