<div class="cards">
  <div class="col-md-3">
  </div>
  <div class="col-md-7">
    <%= content_tag(:iframe, '', src: comment.video_url, width: 480, height: 390, frameborder: 0) %>
    <p><%= comment.content %></p>
  </div>
  <div class="col-md-4">
    <p><%= comment.user.name %></p>
  </div>
</div>
