<div class="container card" style="padding: 50px; margin-top: 20px;">
  <h2>Search</h2>
  <%= form_tag posts_path, method: "get", class: "form-inline" do %>
    <%= text_field_tag 'search', params[:search], options = {class: 'form-control box-search'} %>
    <%= submit_tag "Search", class: "btn btn-success", style: "margin-left: 5px;" %>
  <% end -%>
</div>
<% @posts.each do |post| %>
  <%= render 'shared/post_card', post: post %>
<% end -%>
