<div class="page-wrapper show-page-wrapper">
  <%= render "show_post_card" %>

  <% @post.comments.each do |c| %>
    <%= render "posts/comment_card", comment: c %>
  <% end %>

  <%= render 'comment_form' %>
</div>










