<div class="page-wrapper show-page-wrapper">
  <%= render "show_post_card" %>

 <div class="post-card-answers" id="show-responses">
    <h6><%= pluralize @post.comments.count, 'response' %></h6>
 </div>

  <% @post.comments.each do |c| %>
    <%= render "posts/comment_card", comment: c %>
  <% end %>

  <%= render 'comment_form' %>
</div>










