.btn-form {
  width: 100%;
  border: none;
  color: white;
  background-color: $green;
  &:hover {
    background-color: $dark-green;
    color: white;
  }
}

.btn-transparent {
  background-color: $gray;
  opacity: 0.6;
  color: transparent;
  &:hover {
    opacity: 1;
  }
}

.facebook-login {
  width: 100%;
  background-color: $facebook-blue;
  color: white;
  padding-top: 9px;
  padding-left: 9px;
  &:hover {
    color: white;
    background-color: $facebook-dark-blue;
  }
  i {
    font-size: 27px;
  }
}
