.card {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.2);
}

.devise-card {
  h2 {
    margin-top: 0;
  }
  padding: 100px;
  padding-top: 70px;
  margin: 50px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  height: 277px;
  width: 750px;
  margin: 0 auto;
  border-bottom: solid 1px $gray;
  &:first-of-type {
    border-top: solid 1px $gray;
  }
}

.post-card-left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.post-card-answers {
  margin-bottom: 20px;
}

.post-card-votes {
  margin-top: 60px;
}

.fa {
  font-size: 25px;
}

.post-card-middle {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// .post-card-video {
//   width: 400px;
//   height: 230px;
//   background-color: $gray;
// }

.post-card-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.post-card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
}

.post-card-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.post-card-user{
  padding-left: 162px;
  padding-bottom: 19px;
}

.post-card-user img{
  height: 40px;
  width: 40px;
  border-radius: 2px;
}


.profile-card {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  tr > td {
    border:none !important;
    text-align: left;
  }
  tr > td + td {
    text-align: right;
  };
}

.green-underline {
  border-bottom: 3px solid $green;
};

// Post show card css

.show-post-card-wrapper {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 850px;
  margin: 0 auto;
  border-bottom: solid 1px $gray;
  &:first-of-type {
    border-top: solid 1px $gray;
  }
}

.show-post-card-left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.show-post-card-votes {
  margin-top: 170px;
}

.show-post-card-middle {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

.show-post-card-title {
  margin-left: 15px;
}

.show-post-card-video {
  margin-left: 15px;
}

.show-post-card-content {
  padding-top: 5px;
  margin-left: 15px;
}

.show-post-card-right {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.show-post-card-user {
  padding-left: 162px;
  padding-bottom: 19px;
  flex-wrap: wrap;
}

.show-post-card-user-avatar {
  border-radius: 50%;
  width: 40px;
}
