.card {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.2);
}

.devise-card {
  h2 {
    margin-top: 0;
  }
  padding: 100px;
  padding-top: 70px;
  margin: 50px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  height: 277px;
  width: 750px;
  margin: 0 auto;
  border-bottom: solid 1px $gray;
  &:first-of-type {
    border-top: solid 1px $gray;
  }
}

.post-card-left {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.post-card-answers {
  height: 60px;
  width: 70px;
  background-color: $gray;
  margin-bottom: 20px;
}

.post-card-votes {
  margin-top: 60px;
}

.fa {
  font-size: 25px;
}

.post-card-middle {
  width: 55%;
  height: 100%;
}

.post-card-right {
  width: 30%;
  height: 100%;
}

// .post-card-row{
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
// }

// .post-card-flex {
//   display:flex;
//   flex-direction: column;
//   align-items: center;
// }

// .post-card {
//   height: 277px;
//   width: 682px;
//   padding-top: 5px;
//   position: relative;
// }

// .line-card {
//   background-color: white;
//   border-bottom: solid 1px $gray;
//   &:first-of-type {
//     border-top: solid 1px $gray;
//     margin-top: 30px;
//   }
// }

// .full-height {
//   height: 277px;
// }

// .post-card-video {
//   width: 340px;
//   height: 230px;
//   background-color: $gray;

// }

// .post-card-title {
//   font-size: 14px;
// }


// .post-card-left {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
//   height: 100%;
// }

// .post-card-middle {
//   height: 100%;
// }

// .post-card-right {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   height: 100%;
// }

// .fa-thumbs-up {
//   font-size: 40px;

// }

// .votes-number {
//   width: 100%;
// }

// .fa-thumbs-down {
//   font-size: 40px;

// }

// .post-card-answers {
//   height: 60px;
//   width: 70px;
//   background-color: $gray;
// }

// .post-card-user{
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   position: absolute;
//   top: 240px;
//   right: 20px;
// }
