.form-inputs {
  input {
    border-radius: 0;
  }
  .form-group:first-of-type {
    input {
      border-radius: 5px 5px 0 0;
    }
  }
  .form-group:last-of-type {
    input {
      border-radius: 0 0 5px 5px;
    }
  }
}
